@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'MyFont';
  src:url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body,html{
  background-color: rgb(70, 68, 68);
  height: 100rem;
  margin: 0 15px 0 15px;
  user-select: none;
  font-family: roboto;
}

#navBar{
  display: flex;
  justify-content: center;

}

.headerBtns{
  height: 20px;
  padding: 25px;
  text-align: center;
  border: 1px solid black;
  color: white;
  background-color: rgb(155, 139, 139);
  border-bottom: none;
}

.headerBtns:hover{
  background-color: rgb(36, 36, 37);
  cursor: pointer;
}

#homeContainer{
  background-color: Ivory;
  width: 100%;
  height: 100%;

}

#content{
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 100%;
  height: 100%;
}

#titleImg {
  height: 12rem;
}

#homePagecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30%;
}

#menuContent{
   display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 5%;
  height: 100%;
  align-items: center;
  background-color: gray;
  border-radius: 15px;
}

#foodImg1, #foodImg2, #foodImg3{
  height: clamp(50%, 25rem, 20rem);
  width: clamp(50%, 25rem, 20rem);
  border-radius: 25px;
}



.foodImgDiv{
  width: 20rem;
  height: 3rem;
}
#foodItemContainer1{
  display: flex;
  justify-content: left;
  height: 20%;
  background-color: #1f2833;
  width: 80%;
  color: #66fcf1;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 3px #4f5085;
}

#foodItem2Container{
  display: flex;
  justify-content: left;
  height: 20%;
  background-color: #1f2833;
  width: 80%;
  color: #66fcf1;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 3px #4f5085;
}

#foodItem3Container{
  display: flex;
  justify-content: left;
  height: 20%;
  background-color: #1f2833;
  width: 80%;
  color: #66fcf1;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 3px #4f5085;
}

#contactContent{
  background-color: white;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#homeContentContainer{
  display: flex;
  height: 20%;
  text-align: center;
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: start;
  box-shadow: 1px 1px 2px 1px black;
}

#homePageText{
  padding-top: 5%;
}

#homeTitle{
  font-size: 40px;
  font-weight: bold;
}

#homeSubtext{
  font-size: 20px;
}

.foodItemHeader{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5%;
}